@model Inmobiliaria.Models.Contrato

@{
    ViewData["Title"] = "Create";
    var Inquilinos = (IList<Inquilino>)ViewBag.Inquilinos2;
    var Inmueble = ViewBag.Inmueble;
}

<head>
    <link rel="stylesheet" href="~/css/contratos_create.css">
</head>

<a asp-action="Index" class="btn-volver"><i class="fa-solid fa-arrow-left"></i></a>

@if(ViewBag.Inmueble != null){
    <div class="header-inmueble d-flex justify-content-between">

        <div class="info-esencial d-flex flex-column justify-content-center text-center">
            <h5 class="card-title"><i class="fa-solid fa-house"></i>@Inmueble.Tipo.Tipo de uso @Inmueble.UsoNombre</h5>
            <p><i class="fa-solid fa-person-shelter"></i>@Inmueble.Cantidad_ambientes ambientes</p>
            <p><i class="fa-solid fa-hand-holding-dollar"></i>@Inmueble.Precio</p>
            <p><i class="fa-solid fa-location-dot"></i>@Inmueble.Direccion</p>
        </div>

        <div class="info-foto">
            <img class="card-img-top" src="https://www.bbva.com/wp-content/uploads/2021/04/casas-ecolo%CC%81gicas_apertura-hogar-sostenibilidad-certificado-.jpg" alt="Foto del inmueble">  
        </div>

    </div>
}

<div class="info-contrato">
    <form asp-action="Create" id="formulario">

        <div class="inmueble">
            <label for="">Inmueble</label>
            <div class="d-flex align-items-center">
                <button type="button" class="btn btn-primary btn-inmueble" data-toggle="modal" data-target="#modalInmuebles" value="">
                    Elegir Inmueble
                </button>
            </div>
            <p class="hidden text-danger" id="warning-inmueble">Debe seleccionar un inmueble</p>
        </div>

        <div class="form-group hidden disabled">
            <label class="control-label">Inmueble</label>
            @if(ViewBag.Inmueble != null){
                <input asp-for="Inmueble.Id" name="Inmueble.Id" id="input-inmueble" class="form-control" value="@Inmueble.Id"/>
            }else{
                <input asp-for="Inmueble.Id" name="Inmueble.Id" id="input-inmueble" class="form-control"/>
            }
            <span asp-validation-for="Inmueble" class="text-danger"></span>
        </div>

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="condiciones-fechas row d-flex flex-md-row">
            <div class="condiciones form-group  col-md-8">
                <label asp-for="Condiciones" class="control-label"></label>
                <textarea asp-for="Condiciones" class="form-control" required maxlength="499" id="textCondiciones"></textarea>
                <span asp-validation-for="Condiciones" class="text-danger"></span>
            </div>

            <div class="fechas  col-md-4">
                <div class="form-group">
                    <label asp-for="Desde" class="control-label">Fecha de ingreso</label>
                    <input asp-for="Desde" class="form-control" type="date" id="inputFechaEntrada" required/>
                    <span asp-validation-for="Desde" class="text-danger"></span>
                </div>
                <div>
                    <label for="">Cuantos meses desea alquilar?</label>
                    <input type="number" min="1" max="36" id="inputMeses" disabled required>
                </div>
                <div class="form-group hidden">
                    <label asp-for="Hasta" class="control-label">Fecha de salida</label>
                    <input asp-for="Hasta" class="form-control" type="date" hidden id="inputFechaSalida"/>
                    <span asp-validation-for="Hasta" class="text-danger"></span>
                </div>
            </div>
        </div>


        <div class="monto-inquilino">
            <label asp-for="Monto" class="control-label">Monto</label>
                <div class="monto d-flex">
                    @if(ViewBag.Inmueble != null){
                        <input type="number" value="@Inmueble.Precio" id="inputPrecio" disabled>
                        <p>+</p>
                        <input type="number" id="inputValorAgregado">
                        <p> = </p>
                        <p class="resultado-suma">@Inmueble.Precio</p>
                    }else{
                        <input type="number" id="inputPrecio" disabled>
                        <p>+</p>
                        <input type="number" id="inputValorAgregado">
                        <p> = </p>
                        <p class="resultado-suma"></p>
                    }
                    @* Esto sera invisible  *@
                     <div id="form-group-monto" class="form-group hidden">
                        <input asp-for="Monto" class="form-control" id="input-monto-envio" required/>
                        <span asp-validation-for="Monto" class="text-danger"></span>
                    </div> 
                    @* ------ *@
                </div>
            <label for="">Inquilino</label>
            <div class="inquilino d-flex align-items-center">
                <button type="button" class="btn btn-primary btn-inquilino" data-toggle="modal" data-target="#modalInquilinos" value="">
                    Elegir Inquilino
                </button>
                <a href="">Crear Inquilino</a>
            </div>
            <p class="hidden text-danger" id="warning-inquilino">Debe seleccionar un inquilino</p>
        </div>

        <div class="form-group hidden">
            <label class="control-label">Inquilino</label>
            <input asp-for="Inquilino.Id" name="Inquilino.Id" id="input-inquilino" class="form-control" value="" required/>
            <span asp-validation-for="Inquilino" class="text-danger"></span>
        </div>  

        <div class="botones-bottom form-group d-flex justify-content-center align-items-center">
                <input type="submit" value="Iniciar contrato" class="btn btn-success" id="btnIniciarContrato" disabled/>
                <a class="btn btn-danger">Cancelar</a>
        </div>
    </form>
</div>

<!-- Modal -->
<div class="modal fade" id="modalInquilinos" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-inquilinos" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Inquilinos</h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        @Html.Partial("./../Inquilinos/_ListaInquilinos.cshtml")
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="modalInmuebles" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-inmuebles" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Inmuebles</h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        @Html.Partial("./../Inmuebles/_ListaInmuebles.cshtml")
      </div>
    </div>
  </div>
</div>


<script>
    //Precio
    //const form-group-monto = document.getElementById("form-group-monto");
    
    const input1 = document.getElementById("inputPrecio");
    const input2 = document.getElementById("inputValorAgregado");
    let pResultado = document.querySelector(".resultado-suma");

    const inputEnvioMonto = document.getElementById("input-monto-envio");

    input2.addEventListener('keyup', () => {
        let result = parseFloat(input1.value) + parseFloat(input2.value);
        if (isNaN(result)){
            pResultado.innerHTML = input1.value;
            inputEnvioMonto.value = input1.value;
        }else{
            pResultado.innerHTML = result;
            inputEnvioMonto.value = result;
        }
    });
    //-----
</script>

<script>    
    //Inquilino
    const modalInquilino = document.getElementById("modalInquilinos");
    let buttonInquilino = document.querySelector(".btn-inquilino");
    let inputInquilino = document.getElementById("input-inquilino");

    modalInquilino.addEventListener("click", (e) =>{
        if(e.target.matches('.btnSeleccionar')){
            buttonInquilino.innerHTML = e.target.dataset.nombrecompleto;
            inputInquilino.value = e.target.value;
            console.log(e.target.value)
        }
    });
    //-----

    //Calcular fecha de salida
    let inputMeses = document.getElementById("inputMeses");
    let inputFechaEntrada = document.getElementById("inputFechaEntrada");
    let inputFechaSalida = document.getElementById("inputFechaSalida");

    inputFechaEntrada.addEventListener("change", () => {
        if (inputFechaEntrada.valueAsDate !== null) {
            inputMeses.disabled = false;
        }else{
            inputMeses.disabled = true;
            inputMeses.value = null;
        }
    });

    inputMeses.addEventListener("blur", () => {
        const fechaInicial = inputFechaEntrada.valueAsDate;
        const mesesASumar = inputMeses.value;
        const aniosASumar = Math.floor(mesesASumar / 12); // Se calculan los años completos a sumar
        const mesesRestantes = mesesASumar % 12; // Se calculan los meses restantes a sumar

        const anioFinal = fechaInicial.getFullYear() + aniosASumar;
        const mesFinal = fechaInicial.getMonth() + mesesRestantes;

        const fechaFinal = new Date(anioFinal, mesFinal, fechaInicial.getDate());

        inputFechaSalida.valueAsDate = fechaFinal;
    });
    //-------

//Validaciones
    let btnIniciar = document.getElementById("btnIniciarContrato");
    let btnInquilino = document.querySelector(".btn-inquilino");
    let btnInmueble = document.querySelector(".btn-inmueble");
    let inputInmueble2 = document.getElementById("input-inmueble");

    let formulario = document.getElementById("formulario");
    let textDescripcion = document.getElementById("textCondiciones");
    const inputsRequeridos = Array.from(formulario.querySelectorAll('[required]'));

    
    btnIniciar.addEventListener("click", (e) => {
        e.preventDefault();
        let isValid = true;


        if(!inputInquilino.value || inputInquilino.value == ""){
            let pWarning = document.getElementById("warning-inquilino")
            pWarning.classList.remove("hidden");
            setTimeout(() => {pWarning.classList.add("hidden")},2000)
            console.log(btnInquilino)
            isValid = false;
        }else{
            isValid = true;
        }

        if(!inputInmueble2.value || inputInmueble2.value == ""){
            let pWarning = document.getElementById("warning-inmueble")
            pWarning.classList.remove("hidden");
            setTimeout(() => {pWarning.classList.add("hidden")},2000)
            isValid = false;
        }else{
            isValid = true;
        }

        if(textDescripcion.value.length >= 499){
            btnIniciar.disabled = true;
            alert("El textarea no puede tener más de 500 caracteres");
            isValid = false;
        }else{
            isValid = true;
        }

        inputsRequeridos.forEach((input) => {
            if (!formulario.checkValidity()) {
                isValid = false;
            }
        });

        if(isValid){
            formulario.submit();
        }else{
            alert("Rellene todos los campos");
        }

        console.log(inputsRequeridos)
    });

        textDescripcion.addEventListener("blur", () => {
            if (textDescripcion.value.length >= 499) {
                btnIniciar.disabled = true;
                alert("El textarea no puede tener más de 500 caracteres");
            }else{
               btnIniciar.disabled = false;
            }
        });
    
    //-----
</script>

<script>
    //Inmueble
    const modalInmueble = document.getElementById("modalInmuebles");
    let buttonInmueble = document.querySelector(".btn-inmueble");
    let inputInmueble = document.getElementById("input-inmueble");

    modalInmueble.addEventListener("click", (e) =>{
        if(e.target.matches('.btnSeleccionar')){
            buttonInmueble.innerHTML = e.target.dataset.infocompleta;
            inputInmueble.value = e.target.value;
            document.getElementById("inputPrecio").value = e.target.dataset.precio;

            inputEnvioMonto.value = input1.value;
            pResultado.innerHTML = input1.value;
        }
    });
    //-----
</script>