@model Inmobiliaria.Models.Contrato

@{
    ViewData["Title"] = "Details";
}

<head>
    <link rel="stylesheet" href="~/css/contratos_create.css">
    <link rel="stylesheet" href="~/css/contratos_detalles.css">
</head>

<a asp-action="Index" class="btn-volver"><i class="fa-solid fa-arrow-left"></i></a>

<div class="container-contrato">
    <h2 class="text-center">Contrato Nº @Model.Id</h2>

    @if(ViewBag.Multa != null){
        <div>
            <p class="text-danger text-center">@ViewBag.Multa</p>
        </div>
    }

    <div class="header-contrato row d-flex flex-md-row">
        @*.. Card inmueble ..*@
        <div class="header-inmueble d-flex justify-content-between col-md-8">
            <div class="info-esencial d-flex flex-column justify-content-center text-center">
                <h5 class="card-title"><i class="fa-solid fa-house"></i>@Model.Inmueble.Tipo.Tipo de uso @Model.Inmueble.UsoNombre</h5>
                <p><i class="fa-solid fa-person-shelter"></i>@Model.Inmueble.Cantidad_ambientes ambientes</p>
                <p><i class="fa-solid fa-location-dot"></i>@Model.Inmueble.Direccion</p>
            </div>

            <div class="info-foto">
                <img class="card-img-top" src="https://www.bbva.com/wp-content/uploads/2021/04/casas-ecolo%CC%81gicas_apertura-hogar-sostenibilidad-certificado-.jpg" alt="Foto del inmueble">  
            </div>
        </div>
        @*-- Card inmueble --*@

        @*.. Card inquilino ..*@
        <div class="card-inquilino d-flex flex-column col-md-4 text-center">
                <i class="fa-solid fa-person"></i>
                <h5 class="card-title">@Model.Inquilino.ToString()</h5>
                <p>@Model.Inquilino.Email</p>
                <p>Tel: @Model.Inquilino.Telefono</p>
        </div>
        @*-- Card inquilino --*@

    </div>

    <div class="center-contrato row d-flex flex-md-row justify-content-center">

        <div class="fechas col-md-3 d-flex flex-column justify-content-center">
            <div class="card-fecha">
                <h6>El contrato inicio el</h6>
                <p>@Model.Desde</p>
            </div>
            <div class="card-fecha border border-danger">
                @if(ViewBag.SinVigencia){
                    <h6>El contrato ya vencio o empieza el</h6>
                    <p>@Model.Hasta</p>
                }else{
                    <h6>El contrato vence el</h6>
                    <p>@Model.Hasta</p>
                }
            </div>
        </div>

        <div class="card-monto col-md-2">
            <h6>Monto</h6>
            <p>Precio del alquiler: @Model.Inmueble.Precio</p>
            <p id="valorExtraAlquiler"></p>
            <strong><p>Total: @Model.Monto</p></strong>
        </div>

        <div class="card-condiciones d-flex flex-column justify-content-center col-md-6">
            <h6>Condiciones</h6>
            <p>@Model.Condiciones</p>
        </div>
    </div>

    <div class="bottom-contrato d-flex justify-content-center">
        @Html.ActionLink("Ver Pagos", "ListPagosContrato", "Pagos", new { id = Model.Id }, new { @class = "btn btn-primary"})
        @Html.ActionLink("Editar", "Edit", "Contratos", new { id = Model.Id }, new { @class = "btn btn-warning"})    
        
        @if(!ViewBag.SinVigencia){
            <form asp-controller="Contratos" asp-action="CancelarContrato" method="post">
                <input name="id" class="form-control" value="@Model.Id" type="hidden">
                <input type="submit" class="btn btn-danger" value="Cancelar contrato">
            </form>
        }
    </div>

</div>

<script>
    const extra = document.getElementById("valorExtraAlquiler");
    let calculo = @Model.Monto - @Model.Inmueble.Precio;
    
    extra.innerHTML = "Extras: " + calculo;
</script>