@model IEnumerable<Inmobiliaria.Models.Contrato>

@{
    ViewData["Title"] = "Index";

    var action = "";
    var p = "";

    if(ViewBag.FiltroInmueble != null){
        if(ViewBag.FiltroInmueble){
        @* Si se activo el filtro por inmueble *@
            action = "Index";
            p = "Ver todos";
        }
    }
}

<h1>Seccion de contratos</h1>

<p>
    <a asp-action="Create"><i class="fa-solid fa-square-plus"></i></a>
</p>

@if(ViewBag.FiltroInmueble != null){
    <div class="dropdown">
        <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Filtrar
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" asp-controller="Contratos" asp-action=@action>@p</a></li>
        </ul>
    </div>
}


@if(ViewBag.NumeroDeContratos != null && ViewBag.NumeroDeContratos == 0){
    <div class="container-sin-datos d-flex align-items-center justify-content-center">
        <p>No hay contratos que mostrar</p>
    </div>
}else{

    <table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inmueble.Direccion)
            </th>
            <th>
                Inquilino
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Desde)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hasta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Monto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Inmueble.Direccion)
            </td>
            <td>
               @item.Inquilino.ToString()
            </td>
            <td>
                @item.ParsearFecha(item.Desde)
            </td>
            <td>
               @item.ParsearFecha(item.Hasta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Monto)
            </td>  

			<td>
                @Html.ActionLink("", "Edit", new { id=item.Id }, new {@class = "fa-solid fa-pen-to-square"}) 
                @Html.ActionLink("", "Details", new {id=item.Id  },  new { @class = "fa-solid fa-circle-info" }) 
                @if (User.IsInRole("Administrador")){
                @Html.ActionLink("", "Delete", new { id = item.Id }, new { @class = "fa-solid fa-trash" })
                }
            </td>

            

        </tr>
}
    </tbody>
</table>
}



