@model Inmobiliaria.Models.Inmueble

@{
    ViewData["Title"] = "Create";
    var Propietarios = (IList<Propietario>)ViewBag.Propietarios;
    var TiposInmueble = (IList<TipoInmueble>)ViewBag.TiposInmueble;
}

<h1>Crear</h1>

<h4>Inmueble</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label class="control-label">Tipo de Inmueble</label>
                <select class="form-control" name="Tipo.Id">
                    @foreach (var item in TiposInmueble)
                    {
                        <option  value="@item.Id">@(item.Tipo)</option>             
                    }
                </select>
                <span asp-validation-for="Tipo" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Direccion" class="control-label"></label>
                <input asp-for="Direccion" class="form-control" required/>
                <span asp-validation-for="Direccion" class="text-danger"></span>
            </div>



            <div class="form-group">
            <label asp-for="Uso" class="control-label">Uso</label>
                <select name="Uso" class="form-control">
                    @foreach (var kvp in (IDictionary<int, string>)ViewBag.Usos)
                    {
                        <option value="@kvp.Key">@kvp.Value</option>
                    }
                </select>
            <span asp-validation-for="Uso" class="text-danger"></span>
        </div>



            <div class="form-group">
                <label asp-for="Cantidad_ambientes" class="control-label"></label>
                <input asp-for="Cantidad_ambientes" class="form-control" min="1" required/>
                <span asp-validation-for="Cantidad_ambientes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Coordenadas" class="control-label"></label>
                <input asp-for="Coordenadas" class="form-control" required/>
                <span asp-validation-for="Coordenadas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Precio" class="control-label"></label>
                <input asp-for="Precio" class="form-control" required/>
                <span asp-validation-for="Precio" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Disponible" hidden checked/>
                </label>
            </div>

            <div class="form-group">
                <label class="control-label">Propietario</label>
                <select class="form-control" name="Propietario.Id" required>
                    @foreach (var item in Propietarios)
                    {
                        <option value="@item.Id">@(item.Nombre + " " + item.Apellido)</option>
                    }
                </select>
                <span asp-validation-for="Propietario" class="text-danger"></span>
            </div>    

            <div class="form-group">
                <label asp-for="ImagenFile" class="control-label"></label>
                <input type="file" name="ImagenFile"/>
                <span asp-validation-for="ImagenFile" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver</a>
</div>

