@model IEnumerable<Inmobiliaria.Models.Inmueble>

@{
    ViewData["Title"] = "Inmuebles";
    var action = "";
    var p = "";

    if(ViewBag.FiltroDisp != null){
        if(ViewBag.FiltroDisp){
        @* Si se activo el filtro de ver todos *@
            action = "Index";
            p = "Ver todos";
        }
    }
    else if(ViewBag.FiltroPropietario != null){
        if(ViewBag.FiltroPropietario){
            action = "Index";
            p = "Ver todos";
        }
    }else{
    @* Si no ... *@
        action = "Disponibles";
        p = "Inmuebles disponibles";
    }
}

<head>
    <link rel="stylesheet" href="~/css/inmuebles.css">
</head>



<div class="d-flex justify-content-between">
    <div class="d-flex container-title">
        <h1>Inmuebles</h1>
        <a asp-action="Create"><i class="fa-solid fa-square-plus"></i></a>
    </div>

    <div class="dropdown">
        <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Filtrar
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" asp-controller="Inmuebles" asp-action=@action>@p</a></li>
        </ul>
    </div>
</div>

<div class="container-fluid">
  <div class="row justify-content-evenly">
    @foreach (var item in Model) {
        <div class="col-sm-6 col-md-4 col-lg-3 card-inmueble">
            
            <div class="card_header">
                @if(item.Disponible){
                    <p class="estado disponible">Disponible</p>
                }else{
                    <p class="estado ocupado">Ocupado</p>
                }
                <img class="card-img-top" src="https://www.bbva.com/wp-content/uploads/2021/04/casas-ecolo%CC%81gicas_apertura-hogar-sostenibilidad-certificado-.jpg" alt="Foto del inmueble">
            </div>

            <div class="card-body">
                <h5 class="card-title">@item.Tipo.Tipo - @item.UsoNombre</h5>
                <p><i class="fa-solid fa-location-dot"></i>@item.Direccion</p>
                <p><i class="fa-solid fa-person-shelter"></i>@item.Cantidad_ambientes ambientes</p>
                <p><i class="fa-solid fa-hand-holding-dollar"></i>@item.Precio</p>
                @Html.ActionLink("Ver", "Details", new {id=item.Id },  new { @class = "fa-solid fa-eye enlace-detalles" })
            </div>

        </div>
    }
  </div>
</div>


