@model Inmobiliaria.Models.Pago

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>

<h3>Seguro que desea eliminar?</h3>
<div>
    <h4>Pago</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroPago)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroPago)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContratoId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContratoId)
        </dd>
    </dl>
    
    <form asp-action="Delete" asp-route-idPago="@Model.NumeroPago" asp-route-idContrato="@Model.ContratoId" method="post" onsubmit="return confirm('¿Estás seguro que deseas eliminar este pago?');">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Volver</a>
    </form>
</div>
