@model Inmobiliaria.Models.Pago

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <h4>Pago</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroPago)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroPago)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class = "col-sm-2">
            Contrato
        </dt>
        <dd class = "col-sm-10">
            @Model.Contrato.ToString()
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { idPago = Model.NumeroPago, idContrato = Model.ContratoId}) |
    <a asp-action="Index">Volver</a>
</div>
